@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-Regular'),
    url('../fonts/OpenSansRegular.woff2') format('woff2'),
    url('../fonts/OpenSansRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-SemiBold'),
    url('../fonts/OpenSansSemiBold.woff2') format('woff2'),
    url('../fonts/OpenSansSemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-Bold'),
    url('../fonts/OpenSansBold.woff2') format('woff2'),
    url('../fonts/OpenSansBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

h1, h2, h3, p, th, button{
  margin: 0;
  padding: 0;
}

a:focus, input:focus, button:focus, div:focus {
  outline: 1px solid var(--firm, #9873FF);
  outline-offset: 3px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --black-color: #333;
  --firm: #9873FF;
  --firm-light: rgba(152, 115, 255, 0.7);
  --grey-color: #F5F5F5;
  --grey: #C8C5D1;
  --red: #F06A4D;
  --txt_grey: #B0B0B0;
  --white-color: #FFF
}

body {
  color: var(--black-color);
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: var(--grey-color);
}

.btn {
  display: inline-block;
  border: none;
  font-size: 14px;
  font-weight: 600;
  line-height: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, opacity 0.15s ease-in-out;
  user-select: none;
}

.btn:focus {
  outline: none;
}

.btn__icon {
  transition: fill 0.15s ease-in-out;
}

.btn-primary {
  color: var(--white-color, #FFF);
  background-color: var(--firm, #9873FF);
}

.btn-primary:hover, .btn-primary:focus {
  background-color: var(--firm-light, rgba(152,115,255, 0.7));
}

.btn-primary:active {
  background-color: var(--firm, #9873FF);
}

.btn-primary:disabled {
  color: var(--grey, #C8C5D1);
}

.btn-secondary {
  border: 1px solid var(--firm, #9873FF);
  color: var(--firm, #9873FF);
  background-color: transparent;
}

.btn-secondary__icon {
  fill: var(--firm, #9873FF);
}

.btn-secondary:hover, .btn-secondary:focus {
  color: var(--white-color, #FFF);
  background-color: var(--firm-light, rgba(152,115,255, 0.7));
}

.btn-secondary:hover .btn-secondary__icon, .btn-secondary:focus .btn-secondary__icon {
  fill: var(--white-color, #FFF);
}

.btn-secondary:active {
  color: var(--white-color, #FFF);
  background-color: var(--firm, #9873FF);
}

.btn-secondary:active .btn-secondary__icon {
  fill: var(--white-color, #FFF);
}

.btn-secondary:disabled {
  color: var(--grey, #C8C5D1);
  border-color: var(--grey, #C8C5D1);
}

.btn-secondary:disabled .btn-secondary__icon {
  fill: var(--grey, #C8C5D1);
}

.btn-simple {
  color: var(--black-color, #333);
  font-size: 14px;
  font-weight: 400;
}

.btn-simple:hover, .btn-simple:focus, .btn-simple:active {
  color: var(--firm, #9873FF);
}

.overlay {
  position: fixed; /* Positioning and size */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(51, 51, 51, 0.6);
}

.modal {
  position: fixed;
  top: 50vh;
  left: 50vw;
  min-height: 100px;
  max-width: 450px;
  width: calc(100vw - 20px);
  background-color: white;
  transform: translate(-50%,-50%);
}

.modal__btn-close {
  position: absolute;
  right: 15px;
  top: 15px;
  height: 29px;
  width: 29px;
  opacity: 0.7;
}

.modal__btn-close:hover {
  opacity: 1;
}

.modal__btn-close:before, .modal__btn-close:after {
  position: absolute;
  left: 14px;
  top: 4px;
  content: '';
  height: 20.506px;
  width: 1.367px;
  background-color: var(--grey, #C8C5D1);
}

.modal__btn-close:before {
  transform: rotate(45deg);
}

.modal__btn-close:after {
  transform: rotate(-45deg);
}

.modal__title {
  color: var(--black, #333);
  font-size: 18px;
  font-weight: 700;
}

.form-group {
  position: relative;
  margin-bottom: 15px;
  padding-top: 14.5px;
}

.form-group__label {
  position: absolute;
  bottom: 5px;
  left: 0px;
  font-size: 14px;
  color: var(--txt_grey, #B0B0B0);
  pointer-events: none;
  transition: all 0.15s ease-out;
}

.form-group__input {
  display: inline-block;
  padding: 4px 0;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  background: none;
  border: 0;
  border-bottom: 1px solid rgba(200,197,209, 0.5);
  color: var(--black-color, #333);
  box-shadow: none;
  outline: none;
}

.form-group__input:focus {
  outline: none;
}

.form-group__input:required + .form-group__label::after {
  content: '*';
  color: var(--firm, #9873FF);
}

.form-group__input:focus + .form-group__label,
.form-group__input.has-value + label {
  top: 0;
  font-size: 10px;
}

.form-group_validated .form-group__input:invalid {
  border-color: rgba(240, 106, 77, 0.5);
}

.custom-select {
  position: relative;
  color: var(--black-color, #333);
  font-size: 12px;
}

.custom-select select {
  position: absolute;
  visibility: hidden;
}

.custom-select__selected {
  display: block;
  height: 100%;
  width: 100%;
  border: 1px solid var(--grey, #C8C5D1);
  text-align: left;
  background: #E7E5EB;
}

.custom-select__selected:after {
  position: absolute;
  content: url('../img/arrow_back_ios.svg');
  top: 13px;
  right: 8px;
  width: 12px;
  height: 12px;
}

.custom-select__selected.custom-select__selected_active:after {
  content: url('../img/arrow_up_ios.svg');
}

.custom-select__select-items div, .custom-select__selected {
  --items-padding: 4.5px;
  padding: 9.5px 12px;
  cursor: pointer;
}

.custom-select__select-items div:first-child {
  padding-bottom: var(--items-padding);
}

.custom-select__select-items div:first-child {
  padding-bottom: var(--items-padding);
}

.custom-select__select-items div:not(:first-child):not(:last-child) {
  padding-top: var(--items-padding);
  padding-bottom: var(--items-padding);
}

.custom-select__select-items {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border: 1px solid var(--grey, #C8C5D1);
  background-color: #F4F3F6;
}

.custom-select__select-hide {
  display: none;
}

.custom-select__select-items div:hover, .custom-select__select-items div:focus, .custom-select__same-as-selected,
.custom-select__selected:hover, .custom-select__selected:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
}

.close-sign {
  display: inline-block;
  position: relative;
  height: 12px;
  width: 12px;
  border: 1px solid var(--txt_grey, #B0B0B0);
  border-radius: 50%;
  transition: border-color 0.15s ease-in-out;
}

.close-sign:before, .close-sign:after {
  position: absolute;
  left: 50%;
  top: 50%;
  content: '';
  height: 8px;
  width: 1px;
  background-color: var(--txt_grey, #B0B0B0);
  transition: background-color 0.15s ease-in-out;
}

.close-sign:before {
  transform: translateY(-45%) rotate(45deg);
}

.close-sign:after {
  transform: translateY(-45%) rotate(-45deg);
}

.tooltip {
  position: relative;
}

.tooltip__text {
  --tooltip-color: var(--black-color, #333);
  position: absolute;
  left: 50%;
  top: -7px;
  padding: 7px 14px;
  color: var(--white-color, #FFF);
  font-size: 12px;
  font-weight: 700;
  background-color: var(--tooltip-color);
  opacity: 0;
  transform: translateX(-50%) translateY(-100%);
  visibility: hidden;
  white-space: nowrap;
  transition: opacity 0.15s ease-in-out;
}

.tooltip__text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 7px 5px;
  border-style: solid;
  border-color: var(--tooltip-color) transparent transparent transparent;
}

.tooltip:hover .tooltip__text {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

.app {
  overflow-x: auto;
}

.container {
  max-width: 1024px;
  min-width: 768px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  min-width: 768px;
  padding: 20px 0;
  font-size: 0;
  background-color: var(--white-color);
  box-shadow: 0px 3.38629px 5.64383px 0px rgba(176, 190, 197, 0.32), 0px 9.03012px 27.09036px 0px rgba(176, 190, 197, 0.32);
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 53px;
}

.header__filter {
  padding: 13px 16px;
  max-width: 581px;
  width: 100%;
  border: 1px solid rgba(51, 51, 51, 0.20);
  font-size: 14px;
}

.header__filter::placeholder {
  color: var(--txt_grey, #B0B0B0);
}

.clients {
  padding-top: 40px;
  padding-bottom: 102px;
}

.clients__title {
  margin-bottom: 3px;
  font-size: 24px;
  line-height: normal;
}

.clients__table {
  margin-bottom: 40px;
  width: 100%;
  font-size: 12px;
}

.clients__table-row {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 19.7px 20px;
  min-width: var(--min-width);
}

.clients__table-data-row {
  border-bottom: 1px solid var(--grey, #C8C5D1);
}

.clients__table-head {
  align-items: end;
  padding-top: 8px;
  padding-bottom: 8px;
  color: var(--txt_grey, #B0B0B0);
}

.clients__table-cell:first-child {
  min-width: 50px;
  width: 6.3%;
}

.clients__table-cell:nth-child(2) {
  min-width: 208px;
  width: 23.7%;
}

.clients__table-cell:nth-child(3) {
  padding-right: 14px;
  min-width: 88px;
  width: 15.7%;
}

.clients__table-cell:nth-child(4) {
  padding-right: 4px;
  min-width: 88px;
  width: 14.4%;
}

.clients__table-cell:nth-child(5) {
  min-width: 119px;
  width: 14.8%;
}

.clients__table-cell:nth-child(6) {
  width: 19.8%;
  min-width: 85px;
}

.clients__table-header_sortable {
  cursor: pointer;
}

.clients__table-header_sortable::after {
  content: "";
  display: inline-block;
  padding-left: 12px;
  height: 12px;
  font-size: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translate(1px, 2px);
}

.clients__table-header_sortable-asc, .clients__table-header_sortable-desc, .clients__table-header_sortable-str-desc, .clients__table-header_sortable-str-asc {
  color: var(--firm, #9873FF);
}

.clients__table-header_sortable-desc::after {
  background-image: url('../img/arrow_upward.svg');
}

.clients__table-header_sortable-asc::after {
  background-image: url('../img/arrow_downward.svg');
}

.clients__table-header_sortable-str-desc::after {
  content: "Я-А";
  background-image: url('../img/arrow_upward.svg');
}

.clients__table-header_sortable-str-asc::after {
  content: "А-Я";
  background-image: url('../img/arrow_downward.svg');
}

.clients__table-body {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  background-color: var(--white-color);
  min-height: 300px;
  min-width: var(--min-width);
}

.clients__table-data-time {
  color: var(--txt_grey, #B0B0B0);
}

.clients__table-data-cell:first-child {
  color: var(--txt_grey, #B0B0B0);
  font-size: 12px;
}

.clients__table-data-cell:nth-child(3), .clients__table-data-cell:nth-child(4) {
  display: flex;
  column-gap: 10px;
  flex-wrap: wrap;
}

.clients__table-data-cell:nth-child(5) {
  display: flex;
  gap: 7px;
}

.clients__table-data-cell:nth-child(6) {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 5px;
}

.clients__contact {
  position: relative;
  font-size: 0;
}

.clients__contact-icon {
  fill: var(--firm-light, rgba(152, 115, 255, 0.7));
  transition: fill 0.15s ease-in-out;
}

.clients__contact:hover .clients__contact-icon {
  fill: var(--firm, #9873FF);
}

.clients__contact-text {
  color: var(--firm, #9873FF);
}

.clients__contact-type {
  color: var(--white-color, #FFF);
  font-weight: 400;
}

.clients__contact-more {
  display: flex;
  justify-content: center;
  align-items: center;
  --size: 16px;
  height: var(--size);
  width: var(--size);
  border: 2px solid var(--firm, #9873FF) ;
  border-radius: 100%;
  font-size: 8px;
  font-weight: 600;
}

.clients__button {
  min-height: 20px;
}

.clients__button::before {
  content: "";
  display: inline-block;
  height: 16px;
  width: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.clients__change-button::before {
  background-image: url('../img/edit.jpg');
}

.clients__delete-button:hover, .clients__delete-button:focus, .clients__delete-button:active {
  color: var(--red, #F06A4D);
}

.clients__delete-button::before {
  background-image: url('../img/cancel.jpg');
}

.clients__add {
  display: flex;
  position: sticky;
  align-items: center;
  gap: 10px;
  left: calc(50vw - 108px);
  padding: 13.4px 25.5px;
  white-space: nowrap;
}

.loading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  min-height: inherit;
  width: 100%;
}

@keyframes loading__spinner {
  to { transform: rotate(360deg); }
}

.loading__spinner {
  --spinner-size: 36px;
  display: inline-block;
  position: sticky;
  left: calc(50vw - var(--spinner-size));
  width: var(--spinner-size);
  height: var(--spinner-size);
  vertical-align: text-bottom;
  border: 4px solid var(--firm);
  border-right-color: transparent;
  border-radius: 50%;
  animation: loading__spinner .75s linear infinite;
}

.edit-client {
  --side-padding: 30px;
  display: flex;
  flex-direction: column;
  padding: 24px var(--side-padding) 25px;
  min-height: 400px;
}

.edit-client__title {
  margin-bottom: 15px;
}

.edit-client__form {
  display: flex;
  flex-direction: column;
}

.edit-client__lastName {
  padding-top: 13.5px;
}

.edit-client__middleName {
  margin-bottom: 26px;
}

.edit-client__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px var(--side-padding);
  margin-bottom: 8px;
  margin-left: calc(-1 * var(--side-padding));
  margin-right: calc(-1 * var(--side-padding));
  background-color: rgba(200, 197, 209, 0.3);
}

.edit-client__btn-add-group {
  display: flex;
  align-items: center;
  position: relative;
}

.edit-client__btn-add-icon {
  margin-right: 4px;
}

.edit-client__btn-add-icon_action {
  opacity: 0;
  transition: opacity .15s ease-in-out;
}

.edit-client__btn-add-icon_defult {
  transition: opacity .15s ease-in-out;
}

.edit-client__btn-add {
  font-weight: 600;
}

.edit-client__btn-add::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.edit-client__btn-add-group:has(.edit-client__btn-add:hover) .edit-client__btn-add-icon_action,
.edit-client__btn-add-group:has(.edit-client__btn-add:focus) .edit-client__btn-add-icon_action,
.edit-client__btn-add-group:has(.edit-client__btn-add:active) .edit-client__btn-add-icon_action {
  opacity: 1;
}

.edit-client__btn-add-group:has(.edit-client__btn-add:hover) .edit-client__btn-add-icon_defult,
.edit-client__btn-add-group:has(.edit-client__btn-add:focus) .edit-client__btn-add-icon_defult,
.edit-client__btn-add-group:has(.edit-client__btn-add:active) .edit-client__btn-add-icon_defult {
  opacity: 0;
}

.edit-client__errors {
  margin-bottom: 9px;
  min-height: 8px;
  color: var(--red, #F06A4D);
  font-size: 10px;
  text-align: center;
}

.edit-client__btn-save {
  align-self: center;
  margin-bottom: 5px;
  padding: 12.5px 35px;
}

.edit-client__btn-cancel {
  align-self: center;
  font-size: 12px;
  text-decoration: underline;
}

.edit-client__contacts-list {
  width: 100%;
}

.edit-client__contacts-list:has(.edit-client__contacts-item) {
  margin-bottom: 25px;
}

.edit-client__contacts-item {
  display: flex;
  align-items: stretch;
  min-height: 37px;
}

.edit-client__contacts-item:not(:last-child) {
  margin-bottom: 15px;
}

.edit-client__contact-type {
  flex-grow: 0;
  flex-shrink: 0;
  width: 123px;
}

.edit-client__contact-value {
  flex-basis: 100%;
  padding: 8px 12px;
  border: 1px solid var(--grey, #C8C5D1);
  font-size: 14px;
  font-weight: 600;
}

.edit-client__contact-value::placeholder {
  color: var(--txt_grey, #B0B0B0);
  font-weight: 400;
}

.edit-client__contact-value:focus {
  outline: none;
}

.edit-client__contact-delete {
  --action-color: var(--red, #F06A4D);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
  width: 27px;
  border: 1px solid var(--grey, #C8C5D1);
  background: #E7E5EB;
  transition: border-color .15s ease-in-out;
}

.edit-client__contact-delete:hover, .edit-client__contact-delete:focus, .edit-client__contact-delete:active {
  border-color: var(--action-color);
}

.edit-client__contact-delete:hover .close-sign, .edit-client__contact-delete:focus .close-sign, .edit-client__contact-delete:active .close-sign {
  border-color: var(--action-color);
}

.edit-client__contact-delete:hover .close-sign::after, .edit-client__contact-delete:hover .close-sign::before,
.edit-client__contact-delete:focus .close-sign::after, .edit-client__contact-delete:focus .close-sign::before,
.edit-client__contact-delete:active .close-sign::after, .edit-client__contact-delete:active .close-sign::before {
  background-color: var(--action-color);
}
.edit-client__contact-delete .tooltip__text {
  top: 0;
  transition-delay: 1s;
}

.edit-client__contacts:has(.edit-client__contacts-item) {
  padding-top: 25px;
  padding-bottom: 25px;
}
