@media (max-width: 992px) {

  .clients__table {
    margin-bottom: 43px;
  }

  .clients__table-row {
    padding-top: 9px;
    padding-bottom: 5.5px;
  }

  .clients__table-head {
    padding-bottom: 8px;
  }

  .clients__title {
    margin-bottom: 0;
  }

  .clients__table-cell:nth-child(3) {
    padding-right: 10px;
  }
}

@media (max-width: 480px) {

}


@media (max-width: 375px) {
  .container {
    padding: 0 10px;
  }

  .modal__btn-close {
    right: 3px;
    top: 3px;
  }

  .header {
    padding: 8px 0;
  }

  .header__logo {
    position: sticky;
    left: 50vw;
    height: 24px;
    width: 24px;
    transform: translateX(-50%);
  }

  .header__auto-complete {
    display: none;
  }

  .clients {
    padding-top: 30px;
  }

  .clients__title {
    font-size: 18px;
  }

  .clients__table-head {
    padding-top: 5px;
  }

  .loading__spinner {
    left: calc(50vw - var(--spinner-size) / 2);
  }

  .edit-client {
    --side-padding: 15px;
  }

  .edit-client__contact-type {
    width: 110px;
  }
}
